h1 {
    text-align: center;
}

table {
    margin: auto;
    width: 95%;
    border: 2px blue solid;
}

table th {
    background-color: lightblue;
    font-weight: bold;
    color: white;
}

table td {
    text-align: left;
    border-top: 1px lightblue solid;

}

table caption {
    color: purple;
    font-weight: bold;
}